{
  "log": {
    "_recordingName": "jfrog_recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "8d2ca4a0e5d00a7199a5d149323214fe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://codeworkr.jfrog.io/artifactory/api/security/groups"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.Users+json",
            "size": 230,
            "text": "[ {\n  \"name\" : \"new-empty-group\",\n  \"uri\" : \"https://codeworkr.jfrog.io/artifactory/api/security/groups/new-empty-group\"\n}, {\n  \"name\" : \"readers\",\n  \"uri\" : \"https://codeworkr.jfrog.io/artifactory/api/security/groups/readers\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.Users+json"
            },
            {
              "name": "x-artifactory-id",
              "value": "19d5900cfb8ffc0ab21e62914b0c7d35078feb89"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "codeworkr-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7563,
      },
      {
        "_id": "97968ffc4fef6a8ccde8cd8621c69a75",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://codeworkr.jfrog.io/artifactory/api/security/groups/new-empty-group"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.User+json",
            "size": 188,
            "text": "{\n  \"name\" : \"new-empty-group\",\n  \"autoJoin\" : false,\n  \"realm\" : \"internal\",\n  \"adminPrivileges\" : false,\n  \"policyManager\" : false,\n  \"watchManager\" : false,\n  \"reportsManager\" : false\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.User+json"
            },
            {
              "name": "x-artifactory-id",
              "value": "19d5900cfb8ffc0ab21e62914b0c7d35078feb89"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "codeworkr-artifactory-primary-0"
            }
          ],
          "status": 20[...]
