{
  "log": {
    "_recordingName": "jfrog_recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "9b4e22440684552b613bc7a4aea14297",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://codeworkr.jfrog.io/artifactory/api/security/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.Users+json",
            "size": 667,
            "text": "[ {\n  \"name\" : \"nick\",\n  \"uri\" : \"https://codeworkr.jfrog.io/artifactory/api/security/users/nick\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"xray\",\n  \"uri\" : \"https://codeworkr.jfrog.io/artifactory/api/security/users/xray\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"normal-user\",\n  \"uri\" : \"https://codeworkr.jfrog.io/artifactory/api/security/users/normal-user\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"anonymous\",\n  \"uri\" : \"https://codeworkr.jfrog.io/artifactory/api/security/users/anonymous\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"viragsf@gmail.com\",\n  \"uri\" : \"https://codeworkr.jfrog.io/artifactory/api/security/users/viragsf@gmail.com\",\n  \"realm\" : \"internal\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.Users+json"
            },
            {
              "name": "x-artifactory-id",
              "value": "19d5900cfb8ffc0ab21e62914b0c7d35078feb89"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "codeworkr-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188,
      },
      {
        "_id": "88384efde19e34f52a495f124b2d8d28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://codeworkr.jfrog.io/artifactory/api/security/users/viragsf@gmail.com"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.User+json",
            "size": 438,
            "text": "{\n  \"name\" : \"viragsf@gmail.com\",\n  \"email\" : \"viragsf@gmail.com\",\n  \"admin\" : true,\n  \"policyManager\" : false,\n  \"watchManager\" : false,\n  \"reportsManager\" : false,\n  \"profileUpdatable\" : true,\n  \"internalPasswordDisabled\" : false,\n  \"groups\" : [ \"readers\" ],\n  \"lastLoggedIn\" : \"2020-09-04T17:22:23.537Z\",\n  \"lastLoggedInMillis\" : 0,\n  \"realm\" : \"internal\",\n  \"offlineMode\" : false,\n  \"disableUIAccess\" : false,\n  \"mfaStatus\" : \"NONE\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.User+json"
            },
            {
              "name": "x-artifactory-id",
              "value": "19d5900cfb8ffc0ab21e62914b0c7d35078feb89"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "codeworkr-artifactory-primary-0"
            }
          ],
          "status":[...]
