{
  "log": {
    "_recordingName": "fetch-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "22dcc3a5980f930755288d84e451d489",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://rymvym.jfrog.io/artifactory/api/security/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.Users+json",
            "size": 432,
            "text": "[ {\n  \"name\" : \"anonymous\",\n  \"uri\" : \"https://rymvym.jfrog.io/artifactory/api/security/users/anonymous\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"trialadmin\",\n  \"uri\" : \"https://rymvym.jfrog.io/artifactory/api/security/users/trialadmin\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"35mgu7ai3q@happy2023year.com\",\n  \"uri\" : \"https://rymvym.jfrog.io/artifactory/api/security/users/35mgu7ai3q@happy2023year.com\",\n  \"realm\" : \"internal\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.Users+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.53.3 75303900"
            },
            {
              "name": "x-artifactory-id",
              "value": "7440185a0757702da257fbeac46698f1e952e054"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0ab2s0duiter-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 526,
      },
      {
        "_id": "cfd1d878684a7d07f7c821a66b599011",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://rymvym.jfrog.io/artifactory/api/security/users/35mgu7ai3q@happy2023year.com"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.User+json",
            "size": 536,
            "text": "{\n  \"name\" : \"35mgu7ai3q@happy2023year.com\",\n  \"email\" : \"35mgu7ai3q@happy2023year.com\",\n  \"admin\" : true,\n  \"policyViewer\" : false,\n  \"policyManager\" : false,\n  \"watchManager\" : false,\n  \"reportsManager\" : false,\n  \"profileUpdatable\" : true,\n  \"internalPasswordDisabled\" : false,\n  \"groups\" : [ \"readers\" ],\n  \"lastLoggedIn\" : \"2023-02-28T15:15:32.396Z\",\n  \"lastLoggedInMillis\" : 0,\n  \"realm\" : \"internal\",\n  \"offlineMode\" : false,\n  \"disableUIAccess\" : false,\n  \"mfaStatus\" : \"NONE\",\n  \"status\" : \"ENABLED\",\n  \"shouldInvite\" : false\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.User+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.53.3 75303900"
            },
            {
              "name": "x-artifactory-id",
              "value": "7440185a0757702da257fbeac46698f1e952e054"
            },
            {
              "name": "x-artif[...]
