{
  "log": {
    "_recordingName": "fetch-access-tokens",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "22dcc3a5980f930755288d84e451d489",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://blo.jfrog.io/artifactory/api/security/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.Users+json",
            "size": 411,
            "text": "[ {\n  \"name\" : \"trialadmin\",\n  \"uri\" : \"https://blo.jfrog.io/artifactory/api/security/users/trialadmin\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"anonymous\",\n  \"uri\" : \"https://blo.jfrog.io/artifactory/api/security/users/anonymous\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"s3kfd4by4h@bloheyz.com\",\n  \"uri\" : \"https://blo.jfrog.io/artifactory/api/security/users/s3kfd4by4h@bloheyz.com\",\n  \"realm\" : \"internal\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.Users+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.55.6 75506900"
            },
            {
              "name": "x-artifactory-id",
              "value": "c416aae0dcd46828ed095ae4a5833d2191fea642"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0yo6kyfmxjg4-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 363,
      },
      {
        "_id": "97e6f635db107a4422821170c8c897da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://blo.jfrog.io/artifactory/api/security/users/s3kfd4by4h@bloheyz.com"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.User+json",
            "size": 524,
            "text": "{\n  \"name\" : \"s3kfd4by4h@bloheyz.com\",\n  \"email\" : \"s3kfd4by4h@bloheyz.com\",\n  \"admin\" : true,\n  \"policyViewer\" : false,\n  \"policyManager\" : false,\n  \"watchManager\" : false,\n  \"reportsManager\" : false,\n  \"profileUpdatable\" : true,\n  \"internalPasswordDisabled\" : false,\n  \"groups\" : [ \"readers\" ],\n  \"lastLoggedIn\" : \"2023-03-24T19:53:33.373Z\",\n  \"lastLoggedInMillis\" : 0,\n  \"realm\" : \"internal\",\n  \"offlineMode\" : false,\n  \"disableUIAccess\" : false,\n  \"mfaStatus\" : \"NONE\",\n  \"status\" : \"ENABLED\",\n  \"shouldInvite\" : false\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.User+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.55.6 75506900"
            },
            {
              "name": "x-artifactory-id",
              "value": "c416aae0dcd46828ed095ae4a5833d2191fea642"
            },
            {
              "name": "x-artif[...]
