{
  "log": {
    "_recordingName": "invalidClientAdminName404",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7fc3eeb159713b28243e9b23daaf4b33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://blo.jfrog.io/artifactory/api/security/users/wrongname@wrong.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 74,
            "text": "{\n  \"errors\" : [ {\n    \"status\" : 404,\n    \"message\" : \"Not Found\"\n  } ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.55.6 75506900"
            },
            {
              "name": "x-artifactory-id",
              "value": "c416aae0dcd46828ed095ae4a5833d2191fea642"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0yo6kyfmxjg4-artifactory-primary-0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 357,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
