{
  "log": {
    "_recordingName": "invalidClientAdminName404",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7fc3eeb159713b28243e9b23daaf4b33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://rymvym.jfrog.io/artifactory/api/security/users/wrongname@wrong.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 74,
            "text": "{\n  \"errors\" : [ {\n    \"status\" : 404,\n    \"message\" : \"Not Found\"\n  } ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.53.3 75303900"
            },
            {
              "name": "x-artifactory-id",
              "value": "7440185a0757702da257fbeac46698f1e952e054"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0ab2s0duiter-artifactory-primary-0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 353,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
