{
  "log": {
    "_recordingName": "invalidClientAdminName404",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c91f29f6b88443d86dff405af346b4a7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dreetz.jfrog.io/artifactory/api/security/users/wrongname@wrong.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 74,
            "text": "{\n  \"errors\" : [ {\n    \"status\" : 404,\n    \"message\" : \"Not Found\"\n  } ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.21.5 72105900"
            },
            {
              "name": "x-artifactory-id",
              "value": "7d72ec1bac79711408386cbddf060cee20806b53"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0yu65hnf7b21-artifactory-primary-0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 195,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
