{
  "log": {
    "_recordingName": "invalidConfig",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "9c837e7a806381b55fe150695c9963d5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dreetz.jfrog.io/artifactory/api/security/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.Users+json",
            "size": 278,
            "text": "[ {\n  \"name\" : \"acmonta2@ncsu.edu\",\n  \"uri\" : \"https://dreetz.jfrog.io/artifactory/api/security/users/acmonta2@ncsu.edu\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"anonymous\",\n  \"uri\" : \"https://dreetz.jfrog.io/artifactory/api/security/users/anonymous\",\n  \"realm\" : \"internal\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.Users+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.21.5 72105900"
            },
            {
              "name": "x-artifactory-id",
              "value": "7d72ec1bac79711408386cbddf060cee20806b53"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0yu65hnf7b21-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 224,
      },
      {
        "_id": "8a6732fdd0df061b6b452c9d7831cea6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dreetz.jfrog.io/artifactory/api/security/users/acmonta2@ncsu.edu"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.User+json",
            "size": 462,
            "text": "{\n  \"name\" : \"acmonta2@ncsu.edu\",\n  \"email\" : \"acmonta2@ncsu.edu\",\n  \"admin\" : true,\n  \"policyManager\" : false,\n  \"watchManager\" : false,\n  \"reportsManager\" : false,\n  \"profileUpdatable\" : true,\n  \"internalPasswordDisabled\" : false,\n  \"groups\" : [ \"readers\" ],\n  \"lastLoggedIn\" : \"2021-07-30T13:30:35.520Z\",\n  \"lastLoggedInMillis\" : 0,\n  \"realm\" : \"internal\",\n  \"offlineMode\" : false,\n  \"disableUIAccess\" : false,\n  \"mfaStatus\" : \"NONE\",\n  \"status\" : \"ENABLED\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.User+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.21.5 72105900"
            },
            {
              "name": "x-artifactory-id",
              "value": "7d72ec1bac79711408386cbddf060cee20806b53"
            },
            [...]
