{
  "log": {
    "_recordingName": "fetch-repositories",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "22dcc3a5980f930755288d84e451d489",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://rymvym.jfrog.io/artifactory/api/security/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.Users+json",
            "size": 432,
            "text": "[ {\n  \"name\" : \"anonymous\",\n  \"uri\" : \"https://rymvym.jfrog.io/artifactory/api/security/users/anonymous\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"trialadmin\",\n  \"uri\" : \"https://rymvym.jfrog.io/artifactory/api/security/users/trialadmin\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"35mgu7ai3q@happy2023year.com\",\n  \"uri\" : \"https://rymvym.jfrog.io/artifactory/api/security/users/35mgu7ai3q@happy2023year.com\",\n  \"realm\" : \"internal\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.Users+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.53.3 75303900"
            },
            {
              "name": "x-artifactory-id",
              "value": "7440185a0757702da257fbeac46698f1e952e054"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0ab2s0duiter-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 538,
      },
      {
        "_id": "cfd1d878684a7d07f7c821a66b599011",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://rymvym.jfrog.io/artifactory/api/security/users/35mgu7ai3q@happy2023year.com"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.User+json",
            "size": 536,
            "text": "{\n  \"name\" : \"35mgu7ai3q@happy2023year.com\",\n  \"email\" : \"35mgu7ai3q@happy2023year.com\",\n  \"admin\" : true,\n  \"policyViewer\" : false,\n  \"policyManager\" : false,\n  \"watchManager\" : false,\n  \"reportsManager\" : false,\n  \"profileUpdatable\" : true,\n  \"internalPasswordDisabled\" : false,\n  \"groups\" : [ \"readers\" ],\n  \"lastLoggedIn\" : \"2023-02-28T15:15:32.396Z\",\n  \"lastLoggedInMillis\" : 0,\n  \"realm\" : \"internal\",\n  \"offlineMode\" : false,\n  \"disableUIAccess\" : false,\n  \"mfaStatus\" : \"NONE\",\n  \"status\" : \"ENABLED\",\n  \"shouldInvite\" : false\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.User+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.53.3 75303900"
            },
            {
              "name": "x-artifactory-id",
              "value": "7440185a0757702da257fbeac46698f1e952e054"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0ab2s0duiter-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 384,
      },
      {
        "_id": "0bf610b3edf50db385135d63c9e96dd4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://rymvym.jfrog.io/artifactory/api/repositories"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.repositories.RepositoryDetailsList+json",
            "size": 573,
            "text": "[ {\n  \"key\" : \"example-repo-local\",\n  \"description\" : \"Example artifactory repository\",\n  \"type\" : \"LOCAL\",\n  \"url\" : \"https://rymvym.jfrog.io/artifactory/example-repo-local\",\n  \"packageType\" : \"Generic\"\n}, {\n  \"key\" : \"npm-local\",\n  \"type\" : \"LOCAL\",\n  \"url\" : \"https://rymvym.jfrog.io/artifactory/npm-local\",\n  \"packageType\" : \"Npm\"\n}, {\n  \"key\" : \"npm-remote\",\n  \"type\" : \"REMOTE\",\n  \"url\" : \"https://registry.npmjs.org\",\n  \"packageType\" : \"Npm\"\n}, {\n  \"key\" : \"npm\",\n  \"type\" : \"VIRTUAL\",\n  \"url\" : \"https://rymvym.jfrog.io/artifactory/npm\",\n  \"packageType\" : \"Npm\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.repositories.RepositoryDetailsList+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.53.3 75303900"
            },
            {
              "name": "x-artifactory-id",
              "value": "7440185a0757702da257fbeac46698f1e952e054"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0ab2s0duiter-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 368,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
