{
  "log": {
    "_recordingName": "authError401",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "97e6f635db107a4422821170c8c897da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://blo.jfrog.io/artifactory/api/security/users/s3kfd4by4h@bloheyz.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=ISO-8859-1",
            "size": 101,
            "text": "{\n  \"errors\" : [ {\n    \"status\" : 401,\n    \"message\" : \"Props Authentication Token not found\"\n  } ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=ISO-8859-1"
            },
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"Artifactory Realm\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 383,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
