{
  "log": {
    "_recordingName": "fetch-artifacts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "22dcc3a5980f930755288d84e451d489",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://blo.jfrog.io/artifactory/api/security/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.Users+json",
            "size": 411,
            "text": "[ {\n  \"name\" : \"trialadmin\",\n  \"uri\" : \"https://blo.jfrog.io/artifactory/api/security/users/trialadmin\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"anonymous\",\n  \"uri\" : \"https://blo.jfrog.io/artifactory/api/security/users/anonymous\",\n  \"realm\" : \"internal\"\n}, {\n  \"name\" : \"s3kfd4by4h@bloheyz.com\",\n  \"uri\" : \"https://blo.jfrog.io/artifactory/api/security/users/s3kfd4by4h@bloheyz.com\",\n  \"realm\" : \"internal\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.Users+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.55.6 75506900"
            },
            {
              "name": "x-artifactory-id",
              "value": "c416aae0dcd46828ed095ae4a5833d2191fea642"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0yo6kyfmxjg4-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 359,
      },
      {
        "_id": "97e6f635db107a4422821170c8c897da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://blo.jfrog.io/artifactory/api/security/users/s3kfd4by4h@bloheyz.com"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.User+json",
            "size": 524,
            "text": "{\n  \"name\" : \"s3kfd4by4h@bloheyz.com\",\n  \"email\" : \"s3kfd4by4h@bloheyz.com\",\n  \"admin\" : true,\n  \"policyViewer\" : false,\n  \"policyManager\" : false,\n  \"watchManager\" : false,\n  \"reportsManager\" : false,\n  \"profileUpdatable\" : true,\n  \"internalPasswordDisabled\" : false,\n  \"groups\" : [ \"readers\" ],\n  \"lastLoggedIn\" : \"2023-03-24T19:53:33.373Z\",\n  \"lastLoggedInMillis\" : 0,\n  \"realm\" : \"internal\",\n  \"offlineMode\" : false,\n  \"disableUIAccess\" : false,\n  \"mfaStatus\" : \"NONE\",\n  \"status\" : \"ENABLED\",\n  \"shouldInvite\" : false\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.User+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.55.6 75506900"
            },
            {
              "name": "x-artifactory-id",
              "value": "c416aae0dcd46828ed095ae4a5833d2191fea642"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0yo6kyfmxjg4-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 332,
      },
      {
        "_id": "0bf610b3edf50db385135d63c9e96dd4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://blo.jfrog.io/artifactory/api/repositories"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.repositories.RepositoryDetailsList+json",
            "size": 389,
            "text": "[ {\n  \"key\" : \"docker-local\",\n  \"type\" : \"LOCAL\",\n  \"url\" : \"https://blo.jfrog.io/artifactory/docker-local\",\n  \"packageType\" : \"Docker\"\n}, {\n  \"key\" : \"docker-remote\",\n  \"type\" : \"REMOTE\",\n  \"url\" : \"https://registry-1.docker.io/\",\n  \"packageType\" : \"Docker\"\n}, {\n  \"key\" : \"docker\",\n  \"type\" : \"VIRTUAL\",\n  \"url\" : \"https://blo.jfrog.io/artifactory/docker\",\n  \"packageType\" : \"Docker\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.repositories.RepositoryDetailsList+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.55.6 75506900"
            },
            {
              "name": "x-artifactory-id",
              "value": "c416aae0dcd46828ed095ae4a5833d2191fea642"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0yo6kyfmxjg4-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 353,
      },
      {
        "_id": "b468dddd22aa56fc8021662a89830d01",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "items.find({\"repo\":\"docker-local\"}).offset(0).limit(1000)"
          },
          "queryString": [],
          "url": "https://blo.jfrog.io/artifactory/api/search/aql"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1988,
            "text": "\n{\n\"results\" : [ {\n  \"repo\" : \"docker-local\",\n  \"path\" : \"hello-world/1.0.0\",\n  \"name\" : \"manifest.json\",\n  \"type\" : \"file\",\n  \"size\" : 525,\n  \"created\" : \"2023-03-24T15:26:43.142Z\",\n  \"created_by\" : \"s3kfd4by4h@bloheyz.com\",\n  \"modified\" : \"2023-03-24T15:26:42.976Z\",\n  \"modified_by\" : \"s3kfd4by4h@bloheyz.com\",\n  \"updated\" : \"2023-03-24T15:26:43.143Z\"\n},{\n  \"repo\" : \"docker-local\",\n  \"path\" : \"hello-world/1.0.0\",\n  \"name\" : \"sha256__2db29710123e3e53a794f2694094b9b4338aa9ee5c40b930cb8063a1be392c54\",\n  \"type\" : \"file\",\n  \"size\" : 2479,\n  \"created\" : \"2023-03-24T15:26:04.777Z\",\n  \"created_by\" : \"s3kfd4by4h@bloheyz.com\",\n  \"modified\" : \"2021-09-23T23:48:07.000Z\",\n  \"modified_by\" : \"s3kfd4by4h@bloheyz.com\",\n  \"updated\" : \"2023-03-24T15:26:04.778Z\"\n},{\n  \"repo\" : \"d[...]
